<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duke.alarmmanagerlib">

    <application>
        <activity android:name=".NotificationOpenActivity" />
        <activity android:name=".AlarmNotificationActivity" />

        <receiver
            android:name=".alarm.AlarmBroadcastReceiver"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="intent_topic_alarm_receive_action" />
            </intent-filter>
        </receiver>
    </application>

</manifest>